h1 {
  text-align: center;
  color: lightgreen;
}

h3 {
  color: blue;
}

p {
  color: red;
}

#wrapper {
  border: solid black 6px;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  background-color: gray;
}

.Truths {
  display: flex;
  justify-content: space-evenly;
}

.truthlie {
  padding: 3px;
  border: solid pink 3px;
  border-radius: 5px;
  background-color: lightgrey;
  text-align: center;
}
